<div class="row">
    <div class="col-sm-3">
        <h2>Days</h2>
        <button class="btn btn-dark" (click)="addButton()">Add Days</button>
        <div *ngFor="let iter of buttons" class="d-flex">
            <button class="btn btn-primary mt-2 justify-self-center" (ngModel)= "currentButton" (click)= "showTopics(iter.val)">{{iter.val}}</button>
        </div>
        <p>{{currentButton}}</p>
    </div>
    <div [ngClass]="{show:showTopic}" class="col-sm-3">
        <h2>Topics</h2>
        <button  class="btn btn-dark" (click)="addTopic()">Add Topics</button>
        <div *ngFor="let iters of topicsDisplay" class="d-flex btn btn-secondary">
            <button>{{iters}}</button>
        </div>
    </div>
</div>
